<div fxFlex="20"></div>
<div fxFlex="60" class="form_style">
  <div>
    <p>
      Benvenuto nel sito webnotes, il primo sito web che ti aiuta a programmare
      le attività da svolgere usando la lavagna kanban. Qui di seguito trovi
      un grafico che evidenzia in percentuale lo stato di ogni singola attività.
      Per crearne una clicca qui, altrimenti vedile tutte cliccando qua
    </p>
  </div>
  <mat-divider></mat-divider>
  <div>
    <p>Attualmente ci sono {{ lenght }} note</p>
    <app-chart></app-chart>
  </div>
</div>
<div fxFlex="20"></div>
